@font-face {
  font-family: "Open Sans";
  src: url("https://mozhaevil.github.io/Mozhaev-mq20-Diploma/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}  /*временно*/

@font-face {
  font-family: "Open Sans";
  src: url("https://mozhaevil.github.io/Mozhaev-mq20-Diploma/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}  /*временно*/

body {
  margin: 0;
  font-family: open sans;
}

.site-header {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

@media (max-width: 640px) {
  .site-header {
  background-image: url(https://github.com/MozhaevIL/Mozhaev-mq20-Diploma/blob/master/images/football_767.jpg?raw=true);
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .site-header {
  background-image: url(https://github.com/MozhaevIL/Mozhaev-mq20-Diploma/blob/master/images/football_1280.jpg?raw=true);
  }
}

@media (min-width: 961px) {
 .site-header {
  background-image: url(https://github.com/MozhaevIL/Mozhaev-mq20-Diploma/blob/master/images/football_1920.jpg?raw=true);;
  }
}

.site-header::before {
  content:"";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header-content {
  position: relative;
  z-index: 3;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 640px) {
  .header-content {
  padding: 30px 6.25% 85px 6.25%;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header-content {
  padding-top: 36px;
  padding-bottom: 88px;
  }
}

@media (min-width: 961px) {
  .header-content {
  padding-top: 45px;
  padding-bottom: 110px;
  }
}

.surface-logo-text {
   fill: #ffffff;
}

@media (max-width: 640px) {
  .surface-logo-text {
    width: 40%;
  }  
}

@media (min-width: 641px) and (max-width: 960px) {
  .surface-logo-text {
    width: 27%;
  }  
}

@media (min-width: 961px) {
 .surface-logo-text {
    width: 10%;
  }  
}

.site-title {
  font-weight: bold;
  text-align: left;
  margin-top: 135px; /*временно*/
}

@media (max-width: 640px) {
  .site-title {
    font-size: 28px;
 }
}

@media (min-width: 641px) and (max-width: 960px) {
  .site-title {
    padding-left: 12%;
    font-size: 64px;
 }
}

@media (min-width: 961px) {
  .site-title {
    padding-left: 10%;
    font-size: 90px;
 }
}

.site-title-first, .site-title-second {
  margin: 0;
}

@media (max-width: 960px) {
  .site-title-second {
  padding-left: 13.75%;
 }
}

@media (min-width: 961px) {
  .site-title-second {
  padding-left: 23%;
  margin-bottom: 220px;
 }
}

.site-title-second {
  margin-bottom: 90px; /*временно*/
}

.download-buttons {
  display: flex;
  flex-direction: column;
}

@media (max-width: 640px) {
  .download-buttons {
    flex-direction: column;
    align-items: center;
  }
}  

@media (min-width: 641px) {
  .download-buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
  
.download-button {
  display: flex;
  align-items: center;
  font-size: 8px;
  height: 4.35em;
  line-height: 0;
  text-align: left;
  text-transform: uppercase;
  border: 0;
  border-radius: 4.35em;
  background-color: #5e42b0;
  color: #ffffff;
}

@media (max-width: 640px) {
  .download-button {
    width: 87.5%;
    max-width: 300px;
    height: 35px;
    font-size: 8px;
    justify-content: center;
  
  }   
}

@media (min-width: 641px) and (max-width: 960px) {
  .download-button {
  font-size: 14px;
  height: 80px;
  width: 40%;
  margin-right: 3.5%;
  justify-content: center;
 }
}

@media (min-width: 961px) {
 .download-button {
  font-size: 14px;
  height: 80px;
  width: 15%;
  min-width: 220px;
  margin-right: 2.6%;
  justify-content: center;
  }
}

@media (min-width: 961px) {
 .download-button:hover {
  cursor: pointer;
  }
}

@media (max-width: 640px) {
  .download-button:nth-child(even) {
  margin-top: 1.75em;
}
}
  
.button-logo {
  height: 3em;
  fill: #ffffff;
}

.button-text {
  margin-left: 1em;
  line-height: 1.5em;
 }

.download-from {
  padding-top: 1em;
  font-weight: bold;
}



.top-section-athlets, .top-section-players {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: -1;
}


.footballer-container {
  position: absolute;
  left: 20%;
  top: 28px;
  z-index: 3;
 }

@media (max-width: 640px) {
  .footballer-container {
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    }
}  

@media (min-width: 641px) and (max-width: 960px) {
  .footballer-container {
    top: 95px;
    left: -20vw;
  }
}  


@media (min-width: 961px) {
  .footballer-container {
    left: 20%;
    top: 28px;
    }
}  
  
.basketballer-container {
  position: absolute;
  z-index: 3;
 }


@media (max-width: 640px) {
  .basketballer-container {
    top: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}  


@media (min-width: 641px) and (max-width: 960px) {
.basketballer-container {
  right: 0;
  bottom: 150px;
  }
}


@media (min-width: 961px) {
.basketballer-container {
  right: 13%;
  bottom: 30px;
  }
}


@media (max-width: 640px) {
.top-section-header {
  padding-top: 1.5rem;
  padding-bottom:15rem;
 }
}

@media (min-width: 641px) and (max-width: 960px) {
.top-section-header {
  padding-top: 85px;
  padding-bottom: 20px;
 }
}

@media (min-width: 961px) {
.top-section-header {
  padding-top: 110px;
  padding-bottom: 110px;
 }
}

.top-section-title {
  color: #e7e7e7;
  line-height: 1;
  text-transform: uppercase
} 

@media (max-width: 640px) {
  .top-section-title {
  margin: 0;
  padding-left: 6.25%;
  font-size: 50px;
  ;
  }
}

@media (min-width: 641px) {
  .top-section-title {
  margin: 0;
  font-size: 80px;
 }
}

.top-articles-container {
  display: flex;
  flex-direction: column;
}


.top-article-header {
  display: flex;
  flex-direction: row;
}

@media (max-width: 960px) {
  .top-article-header {
    padding-left: 6.25%;
    padding-right: 6.25%;
  }
}



@media (max-width: 640px) {
.top-article-01 {
  background-color: #fafafa;
  padding-top: 5.125rem;
  padding-bottom: 3.25rem;
 }
}

@media (min-width: 641px) and (max-width: 960px) {
.top-article-01 {
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
 }
}

@media (min-width: 961px) {
.top-article-01 {
  background-color: #ffffff;
  padding-top: 0;
  padding-bottom: 60px;
 }
}

.top-article-0102-number {
  font-weight: bold;
  color: #000000;
  margin-right: 3%;
}

@media (max-width: 640px) {
.top-article-0102-number, .athlets-article-03-number, .players-article-03-number {
  font-size: 14px;
 }
}

@media (min-width: 641px) and (max-width: 960px) {
.top-article-0102-number, .athlets-article-03-number, .players-article-03-number {
  font-size: 14px;
 }
}

@media (min-width: 961px) {
.top-article-0102-number, .athlets-article-03-number, .players-article-03-number {
  font-size: 18px;
 }
}

.top-article-0102-number:after {
  content: "";
  display: block;
  height: 0.28em;
  width: 100%;
  background-color:#5e42b0;
  margin-top: 0.2em;
}

.top-article-title {
  margin: 0;
  font-weight: bold;
  line-height: 1;
  color: #c1c1c1;
  text-transform: uppercase;
}

@media (max-width: 640px) {
.top-article-title {
  font-size: 23px;
 }
}

@media (min-width: 641px) and (max-width: 960px) {
.top-article-title {
  font-size: 32px;
 }
}

@media (min-width: 961px) {
.top-article-title {
  font-size: 36px;
 }
}

@media (max-width: 640px) {
.top-article-0102-content, .athlets-article-03-content, .players-article-03-content {
  font-size: 15px;
  line-height: 18px;
  padding-left: 6.25%;
  padding-right: 6.25%;
 }
}

@media (min-width: 641px) and (max-width: 960px) {
.top-article-0102-content, .athlets-article-03-content, .players-article-03-content {
  font-size: 16px;
  line-height: 28px;
 }
 
  .top-section-athlets .top-section-title, .top-section-athlets .top-article-header, .top-section-athlets .top-article-0102-content, .athlets-article-03-content {
    padding-left:37%;
  }
  
  .top-section-players .top-section-title, .top-section-players .top-article-header, .top-section-players .top-article-0102-content, .players-article-03-content {
 padding-left: 4%;
 padding-right: 45.5%;
 }
  
}



@media (min-width: 961px) {
  .top-section-athlets .top-section-title, .top-section-athlets .top-article-header, .top-section-athlets .top-article-0102-content, .athlets-article-03-content {
    padding-left: 52%;
  }
 
 
  .top-section-players .top-section-title, .top-section-players .top-article-header, .top-section-players .top-article-0102-content, .players-article-03-content {
 padding-left: 9%;
 padding-right: 50.5%;
 }
  
  .top-article-0102-content, .athlets-article-03-content, .players-article-03-content {
  font-size: 20px;
  }
}


.top-article-02 {
  background-color: #f5f4f9;
  padding-top: 3.75rem;
  padding-bottom: 3.125rem;
  }
  

  @media (min-width: 641px) and (max-width: 960px) {
.top-article-02 {
  padding-top: 35px;
  padding-bottom: 35px;
 }
}

  @media (min-width: 961px) {
.top-article-02 {
  background-color: #f6f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
 }
}

.athlets-article-03 {
  position: relative;
  z-index: -1;
  background-color: #5e42b0;
  padding-top: 3.75rem;
  padding-bottom: 3.125rem;
}


.athlets-article-03-number {
  font-weight: bold;
  color: #000000;
  margin-right: 3%;
}

.athlets-article-03-number:after {
  content: "";
  display: block;
  height: 0.28em;
  width: 100%;
  background-color:#ffffff;
  margin-top: 0.2em;
}

.athlets-article-03-content {
  color: #ffffff;
}

.players-article-03 {
  position: relative;
  z-index: -1;
  background-color: #090c35;
  padding-top: 3.75rem;
  padding-bottom: 3.125rem;
}

@media (min-width: 641px) and (max-width: 960px) {
  .players-article-03 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.players-article-03-number {
  font-weight: bold;
  color: #8765dd;
  margin-right: 3%;
}

.players-article-03-number:after {
  content: "";
  display: block;
  height: 0.28em;
  width: 100%;
  background-color:#ffffff;
  margin-top: 0.2em;
}

.players-article-03-content {
  color: #ffffff;
}

.what-to-do-article, .what-to-do-article-reverse {
  display: flex;
  position: relative;
}
  
  @media (max-width: 960px) {
   .what-to-do-article, .what-to-do-article-reverse {
     flex-direction: column;  
  }
}
  
@media (min-width: 961px) {
  .what-to-do-article {
  flex-direction: row;
  line-height: 0px;
  }
  
 
  .what-to-do-article-reverse {
    flex-direction: row-reverse;
    line-height: 0px;
   }
  
  .img-container {
  width: 50%;
}

  .what-to-do-image {
  width: 100%;
}

.what-to-do-container {
  width: 50%;
}

}
  
.what-to-do-number-block {
  display: block;
  box-sizing: border-box;
  background-color: #5e42b0;
  color: #f5f6f7;
  line-height: 0;
  font-weight: bold;
  position: absolute;
  text-align: center;
 }

@media(max-width: 960px) {
  .what-to-do-number-block {
  font-size: 14px;
  width: 5em;
  height: 5em;
  padding-top: 2.5em;
  top: 90vw;
  left: 6.25%;
  text-align: center;
 }
}

@media(min-width: 961px) {
  .what-to-do-number-block {
  font-size: 24px;
  width: 11.5vw;
  height: 11.5vw;
  padding-top: calc(5.75vw - 0.5em);
  top: 27%;
  left: calc(50% - 5.75vw);
  text-align: center;
 }
}

.what-to-do-number {
  display: inline-block;
  position: relative;
}

.what-to-do-number:after {
  content: "";
  display: block;
  position: absolute;
  height: 0.28em;
  width: 100%;
  background-color:#8f7bc8;
  margin-top: 0.86em;
  }


.what-to-do-title, .what-to-do-title-reverse {
  margin: 0;
  padding-top: 1em;
  text-transform: uppercase;
  color: #e7e7e7;
  line-height: 1;
 }

@media (max-width: 640px) {
.what-to-do-title, .what-to-do-title-reverse {
  font-size: 28px;
  padding-left: 6.25%;
 }
}

@media (min-width: 641px) and (max-width: 960px) {
.what-to-do-title, .what-to-do-title-reverse {
  font-size: 80px;
  padding-left: 6.25%;
  }
}

@media (min-width: 961px) {
.what-to-do-title {
  font-size: 80px;
  padding-left: calc(5.75vw + 2.5%);
  }
  
  .what-to-do-title-reverse {
  font-size: 80px;
  padding-right: calc(5.75vw + 2.5%);
  padding-left: 10%;
  }
  
}

.what-to-do-content, .what-to-do-content-reverse {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 5em;
  padding-top: 1.5em;
  }

@media (max-width: 640px) {
.what-to-do-content, .what-to-do-content-reverse {
  padding-left: 6.25%;
  font-size: 16px;
  line-height: 20px;
 }
}

@media (min-width: 641px) and (max-width: 960px) {
.what-to-do-content, .what-to-do-content-reverse {
  padding-left: 6.25%;
  font-size: 24px;
  line-height: 28px;
 }
}

@media (min-width: 961px) {
.what-to-do-content {
  padding-left: calc(5.75vw + 2.5%);
  font-size: 20px;
  line-height: 28px;
 }
  
  .what-to-do-content-reverse {
    padding-right: calc(5.75vw + 2%);
    padding-left: 10%;
    font-size: 20px;
    line-height: 28px;
  }
}

.site-footer {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

@media (max-width: 640px) {
  .site-footer {
  background-image: url(https://github.com/MozhaevIL/Mozhaev-mq20-Diploma/blob/master/images/game_767.jpg?raw=true);
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .site-footer {
  background-image: url(https://github.com/MozhaevIL/Mozhaev-mq20-Diploma/blob/master/images/game_1280.jpg?raw=true);
  }
}

@media (min-width: 961px) {
 .site-footer {
  background-image: url(https://github.com/MozhaevIL/Mozhaev-mq20-Diploma/blob/master/images/game_1920.jpg?raw=true);;
  }
}

.site-footer:before {
  content:"";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.footer-content {
  padding: 16.5vw 6.25% 2.5vw 6.25%;
  position: relative;
  z-index: 3;
  text-align: center;
}


.footer-flex {
  display: flex;
}

@media (max-width: 960px) {
  .footer-flex {
flex-direction: column;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .footer-flex {
    margin-bottom: 37.5vw;
   }
}
  
 @media (min-width: 961px) {
  .footer-flex {
    margin-bottom: 7.8vw;
    margin-top: 12vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.surface-button {
  border: 0;
  border-radius: 0.625rem;
  background-color: #5e42b0; 
}

@media (max-width: 640px) {
 .surface-button {
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  width: 5em;
   }
}


@media (min-width: 640px) and (max-width: 960px) {
 .surface-button {
  width: 130px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
   }
}

 @media (min-width: 961px) {
 .surface-button {
  width: 137px;
  height: 137px;
   }
}


.surface-logo {
  height: 67%;
  fill: #ffffff;
}


@media(min-width: 961px) {
  .download-invitation {
    text-align: left;
    padding-left: 2%;
  }
}


.dowload-invitation-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff
  }

@media (max-width: 640px) {
 .dowload-invitation-title {
  margin: 0;
  padding-top: 55px;
  font-size: 32px;
 }
}

 @media (min-width: 961px) {
 .dowload-invitation-title {
  margin: 0;
  min-width: 700px;
  font-size: 80px;
   }
}

@media (min-width: 641px) and (max-width: 960px) {
  .dowload-invitation-title {
    margin: 0;
    padding-top: 80px;
    font-size: 80px;
  }
}


.download-invitation-motivation {
  margin: 0;
  color: #8379a8;
  text-transform: uppercase;
 }

@media (max-width: 640px) {
.download-invitation-motivation {
  margin: 0;
  font-size: 14px;
  padding-bottom: 5.43em;
 }
}

@media (min-width: 641px) {
 .download-invitation-motivation {
  font-size: 30px;
 }
}

.footer-surface-logo-text {
  margin-left: auto;
  margin-right: auto;
  fill: #ffffff;
  }

@media (max-width: 640px) {
.footer-surface-logo-text {
  margin-top: 80px;
  width: 40%;
}
}

@media (min-width: 641px) and (max-width: 960px) {
.footer-surface-logo-text {
  margin-top: 80px;
  width: 25%;
}
}

@media (min-width: 961px) {
.footer-surface-logo-text {
  margin-top: 13vw;
  width: 10%;
}
}


