@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}  

@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}  

body {
  margin: 0;
  font-family: open-sans;
}

.site-header {
  position: relative;
  z-index: 1;
  background-image: url(../images/football_767.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.site-header::before {
  content:"";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header-content {
  padding: 30px 6.25% 85px 6.25%;
  position: relative;
  z-index: 3;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.surface-logo-text {
  width: 40%; 
  fill: #ffffff;
}

.site-title {
  margin-top: 135px;
  margin-bottom: 85px;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
   
}

.site-title-first, .site-title-second {
  margin: 0;
  display: block;
}

.site-title-second {
  margin-left: 13.75%;
 }

.download-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.download-button {
  width: 87.5%;
  max-width: 300px;
  height: 35px;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4.35em;
  background-color: #5e42b0;
  color: #ffffff;
  text-decoration: none;
}

.download-button:nth-child(even) {
  margin-top: 1.75em;
}
  
.button-logo {
  height: 3em;
  fill: #ffffff;
}

.button-text {
  padding-left: 0.5em;
  text-align: left;
 }

.download-from {
  font-weight: bold;
  display: block;
}

.top-section-athlets, .top-section-players {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: -1;
  overflow: hidden;
}

.footballer-container {
  top: 80px;
  left: calc(50% - 96px);
  position: absolute;
  z-index: 3;
 }
  
.basketballer-container {
  top: 80px;
  position: absolute;
  z-index: 3;
 }

.top-section-header {
  padding-top: 24px;
  padding-bottom: 240px;
}

.top-section-title {
  margin: 0;
  padding-left: 6.25%;
  font-size: 50px;
  color: #e7e7e7;
  line-height: 1;
  text-transform: uppercase
} 

.top-articles-container {
  display: flex;
  flex-direction: column;
}

.top-article-header {
  padding-left: 6.25%;
  padding-right: 6.25%;
  display: flex;
  flex-direction: row;
}

.top-article-01 {
  background-color: #fafafa;
  padding-top: 5.125rem;
  padding-bottom: 3.25rem;
}

.top-article-0102-number, .athlets-article-03-number, .players-article-03-number {
  font-size: 14px;
 }

.top-article-0102-number {
  font-weight: bold;
  color: #000000;
  margin-right: 3%;
}

.top-article-0102-number:after {
  content: "";
  display: block;
  height: 0.28em;
  width: 100%;
  background-color:#5e42b0;
  margin-top: 0.2em;
}

.top-article-title {
  margin: 0;
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  color: #c1c1c1;
  text-transform: uppercase;
}

.top-article-0102-content, .athlets-article-03-content, .players-article-03-content {
  font-size: 15px;
  line-height: 18px;
  padding-left: 6.25%;
  padding-right: 6.25%;
 }

.top-article-02 {
  background-color: #f5f4f9;
  padding-top: 3.75rem;
  padding-bottom: 3.125rem;
  }

.athlets-article-03 {
  position: relative;
  z-index: -1;
  background-color: #5e42b0;
  padding-top: 3.75rem;
  padding-bottom: 3.125rem;
}

.athlets-article-03-number {
  font-weight: bold;
  color: #000000;
  margin-right: 3%;
}

.athlets-article-03-number:after {
  content: "";
  display: block;
  height: 0.28em;
  width: 100%;
  background-color:#ffffff;
  margin-top: 0.2em;
}

.athlets-article-03-content, .players-article-03-content {
  color: #ffffff;
}

.players-article-03 {
  position: relative;
  z-index: -1;
  background-color: #090c35;
  padding-top: 3.75rem;
  padding-bottom: 3.125rem;
}

.players-article-03-number {
  font-weight: bold;
  color: #8765dd;
  margin-right: 3%;
}

.players-article-03-number:after {
  content: "";
  display: block;
  height: 0.28em;
  width: 100%;
  background-color:#ffffff;
  margin-top: 0.2em;
}

.what-to-do-article, .what-to-do-article-reverse {
  display: flex;
  flex-direction: column;  
  }

.what-to-do-img {
  height: 110vw;
  width: 100%;
  background-color: #0a0e34;  
  background-size: cover;
 }

.be-active-img {
  background-image: url(../images/be-active_640.jpg?raw=true);
}

.find-contact-img {
  background-image: url(../images/find-contact_640.jpg?raw=true);
}

.work-it-img {
    background-image: url(../images/work-it_640.jpg?raw=true);
}

.what-to-do-container {
    position: relative;
}
  
.what-to-do-number-block, .what-to-do-number-block-reverse {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  width: 5em;
  height: 5em;
  padding-top: 2.5em;
  top: -4.2em;
  left: 6.25%;
  background-color: #5e42b0;
  color: #f5f6f7;
  line-height: 0;
  font-weight: bold;
  position: absolute;
  text-align: center;
 }

.what-to-do-number {
  display: inline-block;
  position: relative;
}

.what-to-do-number:after {
  content: "";
  display: block;
  position: absolute;
  height: 0.28em;
  width: 100%;
  background-color:#8f7bc8;
  margin-top: 0.86em;
  }

.what-to-do-title, .what-to-do-title-reverse {
  margin: 0;
  padding-left: 6.25%;
  padding-top: 1em;
  text-transform: uppercase;
  color: #e7e7e7;
  line-height: 1;
  font-size: 28px;
}

.what-to-do-content, .what-to-do-content-reverse {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 5em;
  padding-top: 1.5em;
  padding-left: 6.25%;
  font-size: 16px;
  line-height: 20px;
 }

.site-footer {
  position: relative;
  z-index: 1;
  background-image: url(../images/game_767.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.site-footer:before {
  content:"";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.footer-content {
  padding: 16.5vw 6.25% 2.5vw 6.25%;
  position: relative;
  z-index: 3;
  text-align: center;
}

.footer-flex {
  margin-bottom: 85px;
  display: flex;
  flex-direction: column;
}

.surface-button {
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  width: 5em;
  border: 0;
  border-radius: 0.625rem;
  background-color: #5e42b0; 
}

.surface-logo {
  height: 67%;  
  padding-top: 16.5%; 
  fill: #ffffff;
}

.dowload-invitation-title {
  margin: 0;
  padding-top: 55px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff
  }

.download-invitation-motivation {
  margin: 0;
  color: #8379a8;
  text-transform: uppercase;
  font-size: 14px;
 }

.footer-surface-logo-text {
  margin-left: auto;
  margin-right: auto;
  fill: #ffffff;
  margin-top: 80px;
  width: 40%;
  }

 
@media (min-width: 641px) and (max-width: 960px) {
.footer-surface-logo-text {
  margin-top: 80px;
  width: 25%;
}

  .site-header {
  background-image: url(../images/football_1280.jpg?raw=true);
  }

  .header-content {
  padding-top: 36px;
  padding-bottom: 88px;
  }


  .surface-logo-text {
    width: 27%;
  }  

  .site-title {
    margin-bottom: 310px;
    padding-left: 12%;
    font-size: 64px;
 }

  .site-header {
  background-image: url(../images/football_1280.jpg?raw=true);
  }

  .header-content {
  padding-top: 36px;
  padding-bottom: 88px;
  }

  .surface-logo-text {
    width: 27%;
  }  

  .site-title {
    margin-bottom: 310px;
    padding-left: 12%;
    font-size: 64px;
 }

  .download-button {
  font-size: 14px;
  height: 80px;
  width: 40%;
  margin-right: 3.5%;
  }

  .footballer-container {
    top: 95px;
    left: -170px;
  }

.basketballer-container {
  right: 0;
  top: 60px;
  }

.top-section-header {
  padding-top: 85px;
  padding-bottom: 20px;
 }

.top-article-01 {
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
 }

.top-article-0102-number, .athlets-article-03-number, .players-article-03-number {
  font-size: 14px;
 }

.top-article-title {
  font-size: 32px;
 }

.top-article-0102-content, .athlets-article-03-content, .players-article-03-content {
  font-size: 16px;
  line-height: 28px;
 }
 
  .top-section-athlets .top-section-title, .top-section-athlets .top-article-header, .top-section-athlets .top-article-0102-content, .athlets-article-03-content {
    padding-left:37%;
  }
  
  .top-section-players .top-section-title, .top-section-players .top-article-header, .top-section-players .top-article-0102-content, .players-article-03-content {
 padding-left: 4%;
 padding-right: 45.5%;
 }

.top-article-02 {
  padding-top: 35px;
  padding-bottom: 35px;
 }

  .players-article-03 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
   .what-to-do-img {
  height: 76vw;
  }
  
  .be-active-img {
  background-image: url(../images/be-active_960.jpg?raw=true);
}

.find-contact-img {
  background-image: url(../images/find-contact_960.jpg?raw=true);
}

.work-it-img {
    background-image: url(../images/work-it_960.jpg?raw=true);
  }

.what-to-do-title, .what-to-do-title-reverse {
  font-size: 80px;
  padding-left: 6.25%;
  }

.what-to-do-content, .what-to-do-content-reverse {
  padding-left: 6.25%;
  font-size: 24px;
  line-height: 28px;
 }

  .site-footer {
  background-image: url(../images/game_1280.jpg?raw=true);
  }

  .footer-flex {
    margin-bottom: 37.5vw;
   }

 .surface-button {
  width: 130px;
  height: 130px;
   }

  .dowload-invitation-title {
    margin: 0;
    padding-top: 80px;
    font-size: 80px;
  }
} /*планшеты*/

@media (min-width: 641px) {
 .download-invitation-motivation {
  font-size: 30px;
 }

  .top-section-title {
  margin: 0;
  font-size: 80px;
 }

  .download-buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .download-button:nth-child(even) {
    margin: 0;
  }
} /*планшеты и десктопы*/

@media (min-width: 961px) {
 .site-header {
  background-image: url(../images/football_1920.jpg?raw=true);
  }
  
   .header-content {
  padding-top: 45px;
  padding-bottom: 110px;
  }

 .surface-logo-text {
    width: 10%;
  }  

  .site-title {    
    margin-bottom: 220px;
    margin-left: 10%;
    font-size: 90px;
 }

  .site-title-second {
  margin-left: 30%;
 }

 .download-button {
  font-size: 14px;
  height: 80px;
  width: 15%;
  min-width: 220px;
  margin-right: 2.6%;
  }

.top-section-header {
  padding-top: 110px;
  padding-bottom: 110px;
 }

.top-article-01 {
  background-color: #ffffff;
  padding-top: 0;
  padding-bottom: 60px;
 }

.top-article-0102-number, .athlets-article-03-number, .players-article-03-number {
  font-size: 18px;
 }

.top-article-title {
  font-size: 36px;
 }


.footballer-container {
    top: 28px;
    right: 48%;
    left: auto;
    }
  
.basketballer-container {
  left: 43%;
  top: 30px;
  right: auto;
  }

  .top-section-athlets .top-section-title, .top-section-athlets .top-article-header, .top-section-athlets .top-article-0102-content, .athlets-article-03-content {
    padding-left: 52%;
    padding-right: 6.25%;
  }
 
 
  .top-section-players .top-section-title, .top-section-players .top-article-header, .top-section-players .top-article-0102-content, .players-article-03-content {
 padding-left: 9%;
 padding-right: 50.5%;
 }
  
  .top-article-0102-content, .athlets-article-03-content, .players-article-03-content {
  font-size: 20px;
  }

.top-article-02 {
  background-color: #f6f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
 }

  .what-to-do-article {
  flex-direction: row;
 }
  
 
  .what-to-do-article-reverse {
    flex-direction: row-reverse;
}
  
  .what-to-do-img {
   width: 50%;
   height: 38vw;
}
  
  .be-active-img {
    background-image: url(../images/be-active_1024.jpg?raw=true);
}
  
  .find-contact-img {
     background-image: url(../images/find-contact_1024.jpg?raw=true);
  }
  
   .work-it-img {
     background-image: url(../images/work-it_1024.jpg?raw=true);
  }

.what-to-do-container {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
 }

.what-to-do-number-block, .what-to-do-number-block-reverse  {
  font-size: 24px;
  width: 8.75vw;
  height: 8.75vw;
  padding-top: calc(4.375vw - 0.5em);
  top: 27%;
 }


.what-to-do-number-block  {
  left: -4.375vw;
 }


.what-to-do-number-block-reverse  {
  right: -4.375vw;
  left: auto;
 }

.what-to-do-title {
  font-size: 80px;
  padding-left: 6.7vw;
  }
  
  .what-to-do-title-reverse {
  font-size: 80px;
  padding-right: 6.7vw;
  padding-left: 10%;
  }
 
.what-to-do-content {
  padding-left: calc(5.75vw + 2.5%);
  padding-bottom: 0;
  font-size: 20px;
  line-height: 28px;
 }
  
  .what-to-do-content-reverse {
    padding-right: calc(5.75vw + 2%);
    padding-bottom: 0;
    padding-left: 10%;
    font-size: 20px;
    line-height: 28px;
  }

 .site-footer {
  background-image: url(../images/game_1920.jpg?raw=true);
  }

  .footer-flex {
    margin-bottom: 7.8vw;
    margin-top: 12vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

 .surface-button {
  margin: 0;
  width: 137px;
  height: 137px;   
   }

  .download-invitation {
    text-align: left;
    margin-left: 2%;
  }

 .dowload-invitation-title {
  margin: 0;
  padding: 0;
  line-height: 1;
  min-width: 700px;
  font-size: 80px;
   }

.footer-surface-logo-text {
  margin-top: 13vw;
  width: 10%;
}
} /*десктоп*/






